<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feiticeiros Famosos</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Feiticeiros Famosos de Jujutsu Kaisen</h1>
    <ul>
        {{#each feiticeiros}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <a href="/">Voltar</a>
</body>
</html>
