<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feiticeiros Famosos</title>
      <link rel="preload" href="/static/images/1345576.jpeg" as="image">
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        /* Estilo simples para a página */
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px;
            background-color: #f9f9f9;
        }

        h1 {
            font-size: 2em;
            color: #cb429b;
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            font-size: 1.2em;
            color: #333;
            background-color: #cb429b;
            margin: 8px 0;
            padding: 10px;
            border-radius: 5px;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            text-decoration: none;
            color: #593008;
            font-size: 1.1em;
            background-color: #cb429b;
            padding: 10px 20px;
            border-radius: 5px;
        }

        a:hover {
            background-color: #cb429b;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Feiticeiros Famosos de Jujutsu Kaisen</h1>
    <ul>
        {{#each feiticeiros}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <a href="/">Voltar</a>
</body>
</html>
