<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola Jujutsu</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        /* Estilo simples para o cabeçalho */
        header {
            text-align: center;
            margin-bottom: 30px;
        }

        header h1 {
            font-size: 2em;
            color: #cb429b;
        }

        header p {
            font-size: 1.2em;
            color: #333;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin: 0 15px;
        }

        nav ul li a {
            text-decoration: none;
            color: #cb429b;
            font-weight: bold;
            font-size: 1.1em;
        }

        nav ul li a:hover {
            color: #cb429b;
        }
    </style>
</head>
<body>
    <header>
        <h1>Bem-vindo à escola Jujutsu!</h1>
        <p>Cadastre-se como um feiticeiro e descubra seu poder amaldiçoado.</p>
        <nav>
            <ul>
                <li><a href="/listar-feiticeiros">Lista de Feiticeiros</a></li>
                <li><a href="/feiticeiros-famosos">Feiticeiros Famosos</a></li>
                <li><a href="/add-feiticeiro">Registrar Feiticeiro</a></li>
            </ul> 
        </nav>
    </header>
</body>
</html>
