<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Feiticeiro</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Registrar Feiticeiro</h1>
    <form action="/add-feiticeiro" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>

        <label for="grau">Grau:</label>
        <select id="grau" name="grau" required>
            <option value="Especial">Especial</option>
            <option value="1º Grau">1º Grau</option>
            <option value="2º Grau">2º Grau</option>
            <option value="3º Grau">3º Grau</option>
            <option value="4º Grau">4º Grau</option>
            <option value="Sem Grau">Sem Grau</option>
        </select>

        <label for="tecnica">Técnica Amaldiçoada:</label>
        <input type="text" id="tecnica" name="tecnica" required>

        <label for="afiliacao">Afiliação:</label>
        <input type="text" id="afiliacao" name="afiliacao" required>

        <label for="login">Login:</label>
        <input type="text" id="login" name="login" required>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required>

        <button type="submit">Cadastrar</button>
    </form>
    <a href="/listar-feiticeiros">Cancelar</a>
</body>
</html>
